language: node_js
node_js:
- 10
services:
- docker
env:
  global:
  - REACT_APP_API_BASE_URL=http://localhost:8080
  - PACT_BROKER_BASE_URL=https://tk-kreuzwerker.pact.dius.com.au/
  # PACT_BROKER_TOKEN is encrypted below
  - secure: "DHEomnq5qIndUV4hKAf8xbA0VrwYYU84wg/hYodHRZ0sxeiTYT8H293rFOlaYYf/rB1OUKooP8+bGJDlrrbrQECq2Ad4qGv4/jNIrXtgM4i3vBCKjIrHX/7uVJqs+lA5Aoc9ge5rZkqSUrccE7xk0o9fogFPSD+pG8RY3yzmmsM4hPBDUqJbzWBOilDuuo9meFpUa5UnTdqoMyh9oWWEUgZ+maw8n4EPbE3IfL5Ms8pf0YSk8vgcbEjnT8yaQ8DUVIWnWvBNv3nXAum309SoAKjxTAXF9vaTDqYin3crMvjZNIYgBdHkdnVyxPsEU7b73R1QkYetlaDPhugbOAWL7LZIMXSFmn9m5i4HV1KC/DGnTkQcHm6IQWe/gZG1NubaTMzfYFza39RmzeCHjWV6MeGZUn6QugBsj3epMK9NEgjrc9W1u8i+nXtQK+yLY8p0IFFZbJGrjUOVuzcm8kmMK2S20vgMKRBAHv+3dONQSIsR1lYs7Wdo6RSxeCYkP9NI4uoOc1D+VdiOST1YP6wenmsO5F9QKL1vRc+0AWlpjFz96EBHV/0d3W1E5xZfwvVLdjRNRzHTlqr2LGhgZbcSQBzH4dyq+8EYDKW3Kq/4nhSjvsw5AQiJaKlueDmIzH1nkPO8MaQK4/s/D6+/vROH0UNRl3bIz353lvHR6MWVIU4="
before_script:
  - docker pull pactfoundation/pact-cli:latest
script:
- make ci
