language: node_js
node_js:
- 10
services:
- docker
env:
  global:
  - REACT_APP_API_BASE_URL=http://localhost:8080
  - PACT_BROKER_BASE_URL=https://tkoerner.pact.dius.com.au
  # PACT_BROKER_TOKEN is encrypted below
  - secure: "ib/KbSk8D8DVSlDhhVi9prOEmkKJvLckqqeKH0hej9FO7jIXY2PVZxowFmaEnG/0diLjMiuBrHm5LX9IIvdzT2Jk+vu9+hQNe2ClrjVydYTzmgViHUGK2PsXM6o2A/9Q7IswSyP13zkyNrNshII/0im92pWvjabbo5I/yoVj1klJiaiVH6OxEIDCbl89LgZFYopJ5K4XV//1BBXzRPWz1dEgV0Tu4aQqQWKNAi4l1sO4mrAohBOyyp4SPv4tRw7wN6m6psVm8RDejkrMMqwrXdiIkLVzG5eapo0AKjZzq06wCJZFOw2uFOGcxOPMk+FNQDTEPK+3xqxCmneHEqj5v9OJoj4C8aHZOWTKtw9K4aRMSiEgQJK/UTy/1YRDSz7TKwasqHW3e/KHiC+AEYJrzALBbmbOwFHzGkw2gGflfWT1j/a8bU29IFHDD9oEEqwGBgJa+1ByZVmrEmASuMGI1c/obHCWZr/6jG/BchH4ExvbceYXc0T7GZ245kkbWW308lcX4jtOH+SzHnZdP6StTEWhco94IG+2lTNi8XuOif28Yvi/FhWzuadcUSInSMh80gYcDvqgVqN2nZmJQWnTxqYjf+LFW4hPjYt/IZ/0EDPsteI5h+mGW+ATXm9hcPVS7BRnCWjkny9Uva2k3TwpjcUZfkJ2EpwrZJf6+5F/KJs="
before_script:
  - docker pull pactfoundation/pact-cli:latest
script:
- make ci
